<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Regression">
<!--	<listeners>-->
<!--		<listener class-name="Listener"></listener>-->
<!--	</listeners>-->
	<test name="GroupTest">
		<classes>
			<class name="com.ginni.bot.web.runner.RunTest"/>
		</classes>
	</test>
</suite>